* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
  }

  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
  }

  .box {
    /* position: absolute;
    top: 20%;
    left: 35%; */
    background-color: white;
    width: 360px;
    height: 500px;
    /* width: 25%;
    height: 60%; */
    padding: 20px;
    padding-right: 5px;
    border-radius: 10px;
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    height: 40px;
  }
  form input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: medium;
    color: rgb(124, 123, 123);
    border: #c9daf0 solid 1px;
    border-right: none;
    width: 100%;
  }
  form input:focus{
    outline: none;
  }
  form button {
    /* display: flex;
    align-items: center;
    color: #d2baf7;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: #c9daf0 solid 1px;
    border-left: none; */
  }
  
  .filter-btn {
    font-size: 15px;
    color: rgb(124, 123, 123);
  }
  .add-btn {
    display: flex;
    align-items: center;
    color: #d2baf7;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: #c9daf0 solid 1px;
    border-left: none;
  }

  .filter-btn:hover {
    color: #d2baf7;
    cursor: pointer;
  }
  .add-btn:hover {
    background: #d2baf7;
    color: white;
    cursor: pointer;
  }
  
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
    margin-top: -30px;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: rgb(124, 123, 123);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    height: 40px;
    font-size: medium;
    border-radius: 10px;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: white;
    border: none;
    padding: 0.6rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;

  }
  .trash-btn{
    color: rgb(245, 64, 64);

  }
  .complete-btn {
    color: rgb(209, 202, 202);
    background: white;
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
 
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  